/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/.history
/.vscode
/.directory
/.vscode/**.*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
